footer{
    background-color: #ffe8b4;
}

#footer_items{
    display: flex;
    justify-content: space-between;
    padding: 0rem 8% 1.5rem 8%;
    align-items: center;
}

#copyright{
    color: #1d1d1d;
    font-weight: 500;
}

@media screen and (max-width: 37.5rem){
    #footer_items{
        flex-direction: column;
        gap: 1.25rem;
    }
}