@media screen and (max-width: 900px){
    header .menu-desktop, header .btn-contato{
        display: none;
    }

    header .btn-menu-mob{
        display: block;
    }
}

@media screen and (max-width: 878px){
    .hero-site .txt-hero h1{
        font-size: 2em;
        line-height: 2.5rem;
    }
    

    
    .hero-site .txt-hero p{
        font-size: 1.25rem;

    }
    
    .hero-site .txt-hero p span{
        display: inline;
    }
    
    .hero-site button{
        width: 13.75rem;
        height: 4rem;
        font-size: 1.25rem;
    }
    
    .hero-site button:hover{
        background-color: #e3e3e3;
        color: black;
    }
    
    /* responsivo vantagens */
    
    .vantagens .itens-container{

        flex-direction: column-reverse;
    }
    
    .vantagens .itens-container .img-itens img{
        width: 100%;
    
    }
    .vantagens .itens-container .txt-itens p{
        margin-bottom: 1.25rem;

    }
    .vantagens .itens-container .item-1{
        order: 1;
    }

    .vantagens .itens-container .item-2{
        order: 0;
    }

    /* Respoinsivo Contatos */

    
    .contato-txt, .icons-contato{
        display: block;
        width: 100%;

    }
    
    .contato .contato-txt h3{
        font-size: 2 em;
        line-height: 2.5rem;
    
    }
    
    .contato .icons-contato button{
        width: 100%;
        
    }
    
    .contato .contato-txt p{
        margin-bottom: 1.25rem;
    }
 
    
    /* responsivos  hotéis */
    
    .hoteis h3{
        font-size: 2em;
        line-height: 2.5rem;
    }
    
    .hoteis p{
        margin: 1.25rem 0;
        font-size: 1rem;
    }

    /* Estilo da Instruções - como funciona */
    

    .txt-funciona, .instrucoes{
        display: block;
        width: 100%;
    }

    .como-funciona .txt-funciona {
        position: static;
        line-height: 3.125rem ;


    }

    .instrucoes .instru-box{
        text-align: center;
        flex-direction: column;
    }
    
    .instrucoes .instru-box img{
        max-width: 6.25rem;
    
    } 
    
    /* Estilo footer */

    footer .middle-footer a{
        margin: .9375rem 0;
        display: block;
    }

}