*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: white;
}

.interface{
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 4%;
}

header .btn-contato button, .hero-site button, .hoteis button{
    font-size: 1.125rem;
    background-color: transparent;
    color: white;
    border: .125rem solid white;
    cursor: pointer;
    transition: .5s;

}


/* Estilo do header */

header{
    width: 100%;
    padding: 2.5rem  0;
    position:fixed;
    top: 0;
    left: 0;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 2.5rem;

}

/* Estilo  menu dinâmico */

.logo-preta{
    display: none;

}

header.rolar{
    background-color: white;
    padding: 1.25rem 0;
    box-shadow: 0 0 8px #00000061;
}

header.rolar .menu-desktop nav .lista .lista-link {
    color: black;
}

header.rolar .interface .logo img {
    color: black;
}



header.rolar .btn-contato button{
    border:.0625rem solid black;
    color: black;
}



/* FIM - Estilo  menu dinâmico */

header .menu-desktop nav  ul{
    list-style: none;

}

header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 2.5rem;
    transition: .2s;
}

.lista{
    color: white;
    text-decoration: none;
}



.lista-link:hover{
    transform: scale(1.15);
}

header .btn-contato button{
    width: 8.75rem ;
    height: 3.125rem;
}


header .btn-contato button:hover{
    background-color: white;
    color: black;
}
 
/*  Estilo do botão menu mobile*/
header .btn-menu-mob{
    display: none;
    position: relative;
    z-index: 9999999999999999999999999999;
}



header .btn-menu-mob div{
    background-color: white;
    height: .1875rem;
    margin: .625rem 0;
    transition: .2s;
}

header.rolar .btn-menu-mob div{
    background-color: black;
}


header .btn-menu-mob .line-menumob-1{
    width: 1.875rem ;
}

header .btn-menu-mob .line-menumob-2{
    width: 1.25rem ;
}

header .btn-menu-mob .line-menumob-1.ativo1{
    transform: rotate(45deg) translate(30%);
    background-color: white;
}

header .btn-menu-mob .line-menumob-2.ativo2{
    transform: rotate(-45deg) translate(30%);
    width: 1.875rem;
    background-color: white;
}

/* Estilo menu mobile */

header .menu-mobile{
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.575);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    overflow: hidden;
    transition: .5s;

}

header .menu-mobile nav{
    width: 100%;
}

header .menu-mobile nav ul{
    list-style: none;

}

header .menu-mobile nav a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding: .625rem 0;
    display: block;
    transition: .5s;
}

header .menu-mobile nav .lista-link:hover{
    background-color: white ;
    color: black;
    box-shadow: 0 0 1.25rem white;
}

header .menu-mobile.abrir{
    width: 100%;
    height: 100vh;
}

body.no-overflow{
    overflow: hidden;/*Travando a rolagem da página quando o menu mobile  estiver  aberto*/
}



/*  Estilo de hero*/


/* .hero-site  esta junto da (section)  pq o  CSS vai buscar  a clsse que pertence a(section.hero-site)  se  for colocado como (section .hero-site)  o css vai buscar a classe que esta dentro da sectione não a que  pertence a ela */
section.hero-site{
    height: 98vh; /*Para que tenha um piso falaso na tela, induzindo ao usuário  a rolar  a página, pois tem mais conteúdo na mesma*/
    background-image: url(../img/bg-inicio-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    
}

.hero-site .interface{
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1{
    font-size: 4em;
    line-height: 4.375rem;
    font-weight: 800;

}

.hero-site .txt-hero h1 span{
    display: block;
}

.hero-site .txt-hero p{
    font-size: 1.25rem;
    font-weight: 300;
    margin: 1.25rem 0;

}

.hero-site .txt-hero p span{
    display: block;
}

.hero-site button{
    width: 13.75rem;
    height: 4rem;
    font-size: 1.25rem;
}

.hero-site button:hover{
    background-color: #e3e3e3;
    color: black;
}


/* Estilo das vantagens */

section.vantagens{
    padding: 5rem 0;
    background-color:#e3e3e3;
}

.vantagens .itens-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 10%;
    margin-bottom: 3.75rem;
}

.vantagens .itens-container .img-itens img{
    max-width: 30rem;

}


.vantagens .itens-container .txt-itens h3{
    font-size: 3em;
    line-height: 3.125rem;
}

.itens-container .txt-itens h3 span{
    font-size: 200;
}

/* Estilos  btn-contato */

section.contato{
    background-color: white;
    padding: 5rem 0;
}

.contato-txt, .icons-contato{
    display: inline-block;
    width: 50%;
    margin-right: -0.25rem;
    vertical-align: middle;
}

.contato .contato-txt h3{
    font-size: 2.5em;
    line-height: 3.125rem;
    font-weight: 300;
    margin-bottom: 1.25rem;

}

.contato .contato-txt h3 span{
    display: block;
    font-weight: 700;
}

.contato .icons-contato a{
    text-decoration: none;
}

.contato .icons-contato button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 3.75rem;
    margin:  0 auto 1.25rem auto;
    padding: 0 3.75rem;
    background-color: transparent;
    border: .125rem solid black;
    cursor: pointer;
    transition: .5s;

}

.contato .icons-contato button i{
    font-size: 1.5rem;
}

.contato .icons-contato button:hover{
    background: black;

}

.contato .icons-contato button:hover i, .contato .icons-contato button:hover p {
    color: white;
}

/* Estilo da sessão hotéis */

section.hoteis{
    height: 37.5rem;
    background-image: url(../img/hotel-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    text-align: center;
    background-attachment: fixed;
}

.hoteis > .efeito{ /* garantindo que  seja aplicado as configurações somente na div  selecionada */
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000D7;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hoteis > .interface{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    z-index: 2; /*Quanto maior  o numero maior  a preferencia da escolha  */
    position: relative;
    
}

.hoteis h3{
    font-size: 3em;
    line-height: 3.125rem;
    font-weight: 200;
}

.hoteis h3 span{
    display: block;
    font-weight: 700;
}

.hoteis p{
    margin: 1.25rem 0;
    font-size: 1.25rem;
}

.hoteis button{
    width: 220px;
    height: 3.75rem;
}

.hoteis button:hover{
    background-color: white;
    color: black;
}

/* Estilo da sessão como funciona */

section.como-funciona{
    padding: 5rem 0;
    background-color:#e3e3e3;
}

.txt-funciona, .instrucoes{
    display: inline-block;
    width: 50%;
    margin-right: -0.25rem;
    vertical-align: top;
}

.como-funciona .txt-funciona {
    position: sticky;
    top: 50%;
    padding-bottom: 2.1875rem;
}


.como-funciona .txt-funciona h3{
    font-size: 4em;
    line-height: 3.75rem;
    font-weight: 300;
}

.como-funciona .txt-funciona h3 span{
    display: block;
    font-weight: 600;
}



/* Estilo da Instruções */
.instrucoes .instru-box{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 2.5rem;
    border: .125rem solid black;
}

.instrucoes .instru-box img{
    max-width: 6.25rem;
}


.instrucoes .instru-box h4{
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: .625rem;
}

.instrucoes .instru-box h4 span{
    font-weight: 300;

}

.instrucoes .instru-box p{
    line-height: 1.25rem;
}


/* Estilo do footer */

footer{
    background-color: black;
    text-align: center;
    width: 100%;
    padding: 1.875rem 0;

}

footer .top-footer button{
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    border: .125rem solid white;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 .625rem;
    transition: .5s;
}

footer .top-footer button:hover{
    background-color: white;
    color: black;
}

footer .middle-footer{
    margin: 1.25rem 0;
} 

footer .middle-footer a{
    color: white;
    margin: 0 .9375rem;
    
}

footer .bottom-footer{
    border-top: .125rem solid white;
}

footer .bottom-footer p{
    color: white;
    margin-top: .625rem;
}


/*  continuar neste video  https://www.youtube.com/watch?v=FrLS6xOLe70&t=260s */